<h1 id="tableLabel">Angajati</h1>

<p *ngIf="!angajati"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="angajati">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nume</th>
      <th>Prenume</th>
      <th>Functie</th>
      <th>Telefon</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let angajat of angajati">
      <td>{{ angajat.id }}</td>
      <td>{{ angajat.nume }}</td>
      <td>{{ angajat.prenume }}</td>
      <td>{{ angajat.functie }}</td>
      <td>{{ angajat.telefon }}</td>
      <td>
        <a href="/angajat-update?id={{angajat.id}}">
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>edit</mat-icon>
          </button>
        </a>
      </td>
      <td>
          <button (click)="deleteAngajat(angajat)" mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
          </button>
      </td>
    </tr>
  </tbody>
</table>

<button mat-fab color="primary" [routerLink]="['/angajat-add']">
  <mat-icon>add</mat-icon>
</button>
